- app
  - domains
    - User
      - components
      - core
        - auth
          - authMiddelware.ts
          - index.ts
        - index.ts
        - userController.ts
        - userModel.ts
        - userRoutes.ts
      - pages
        - create
          - +Page.tsx
        - index
          - +config.h.ts
          - +Page.tsx
        - login
          - +Page.tsx
      - module.ts
      - schema.esdl
  - types
  - pages
    - _error
      - +Page.tsx
      - +config.h.ts
    - index
      - +config.h.ts
      - +Page.tsx
  - shared
    - assets
    - services
    - ui
    - utils
- bin
  - moduleMigration.ts
- core
  - db
  - middleware
  - services
  - utils
- edgedb.toml
- express-entry.ts
- node_modules
- package.json
- pnpm-lock.yaml
- postcss.config.js
- tailwind.config.ts
- tsconfig.json
- types
- vite.config.ts